<a href="https://colab.research.google.com/github/athi-raj/pythonInternship/blob/main/day1activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python-Practice Problems

In [ ]:
name = input("Enter your name: ")
print("Welcome to AI and ML", name)

Enter your name: athi
Welcome to AI and ML athi

In [ ]:
fav = input("Enter your fav snack")
print("Life’s better with a bag of", fav)

Enter your fav snackkurkure
Life’s better with a bag of kurkure

In [ ]:
tasks = 15
to_complete = tasks * 2

print("Tasks expected to be completed next week:", to_complete)

Tasks expected to be completed next week: 30

In [ ]:
income = float(input("Enter the income amount: "))
expenses = float(input("Enter the expense amount: "))

savings = income - expenses
print("Monthly Savings:", savings)

Enter the income amount: 5000
Enter the expense amount: 2000
Monthly Savings: 3000.0

In [ ]:
invited_friends =  float(input("Enter the no.of invited frinds "))
popcorn_per_person =  float(input("Enter the popcorn no. for each friend "))

total_popcorn_bags = invited_friends * popcorn_per_person

print("Total popcorn bags needed:", total_popcorn_bags)

Enter the no.of invited frinds5
Enter the popcorn no. for each friend2
Total popcorn bags needed: 10.0

In [ ]:
rating = int(input("Enter product rating (1 - 5) "))
if rating > 5 or rating < 1:
    print("Invalid rating. Please enter a number between 1 and 5.")
elif rating > 3:
    print("Thank you! You gave an above-average rating.")
else:
    print("Thanks for your feedback. We'll try to do better!")

Enter product rating (1 - 5) 4
Thank you! You gave an above-average rating.

In [ ]:
last_month = 50
this_month = 75
next_month = 100
total_items = last_month + this_month + next_month
average_items = total_items / 3
print("Average items sold over thses 3 months:", average_items)

Average items sold over 3 months: 75.0

In [ ]:
p = 500
r = 4
t = 3
si = (p * r * t) / 100
total_amount = p + si
print("Simple Interest:", si)
print("Total Amount after 3 years:", total_amount)

Simple Interest: 60.0
Total Amount after 3 years: 560.0

In [ ]:
guests = 10
slice_for_guest = 1
slices_for_cake = 8

total_slices_needed = guests * slice_for_guest
cakes_needed = total_slices_needed / slices_for_cake
import math
cakes_needed = math.ceil(cakes_needed)
print("Cakes needed for the party:", cakes_needed)

Cakes needed for the party: 2

In [ ]:
slogan = input("Enter the slogan: ")
if len(slogan) > 10:
    print("Big and Impactful one")
else:
    print("Short and catchy – nice! ✨")

Enter the slogan: For every now there will be a subsequent tommorrow
Impactful one

In [ ]:
product_A_sales = 250
product_B_sales = 300
if product_A_sales > product_B_sales:
    print("Product A sold more in no.")
elif product_B_sales > product_A_sales:
    print("Product B sold more in no.")
else:
    print("Both products sold equally well!")

Product B sold more in no.

In [ ]:
scholarship_received = 750
total_amount = 1000
percentage = (scholarship_received / total_amount) * 100
print(f"Congratulations! You received {percentage:.2f}% of the scholarship. ")

Congratulations! You received 75.00% of the scholarship.

In [ ]:
fav_color = "Black"
print("My favorite color is:", fav_color)

My favorite color is: Black

In [ ]:
a = 10
b = 20
sum = a + b
print("The sum is:", sum)

The sum is: 30

In [ ]:
length = 8
width = 5
area = length * width
print("The area of the rectangle is:", area)

The area of the rectangle is: 40

In [ ]:
num = 500
if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

15 is odd.

In [ ]:
num1 = 10
num2 = 20
num3 = 30
average = (num1 + num2 + num3) / 3
print("The average is:", average)

The average is: 20.0

In [ ]:
radius = 7
area = 3.14 * radius ** 2
print("The area of the circle is:", round(area, 2))

The area of the circle is: 153.86

In [ ]:
text = "Python"
if len(text) > 6:
    print("The text has more than 6 characters.")
else:
    print("The text has 6 or fewer characters.")

The text has 6 or fewer characters.

In [ ]:
num1 = 15
num2 = 25
maximum = max(num1, num2)
print("The maximum number is:", maximum)

The maximum number is: 25

In [ ]:
total_marks = 500
obtained_marks = 400
percentage = (obtained_marks / total_marks) * 100
print("Percentage:", percentage, "%")

Percentage: 80.0 %

PRACTICE EXERCISES ON PYTHON BASICS -2

In [ ]:

text = input("Enter a string value: ")
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
for char, count in char_count.items():
    print(f"{char}={count}", end=", ")

Enter a string value: 4
4=1,

In [ ]:
def maximum_of_three(num1, num2, num3):
    return max(num1, num2, num3)
print(maximum_of_three(45, 18, 23))

45

In [ ]:
def power_of_number(base_number, exponent_number):
    return base_number ** exponent_number
print(power_of_number(4, 5))

1024

In [ ]:
def sum_of_cubes(limit_number):
    return sum(i**3 for i in range(1, limit_number + 1))
print(sum_of_cubes(6))

441

In [ ]:
for number in range(1, 16):
    if number % 2 == 0 and number % 5 == 0:
        print("FizzBuzz")
    elif number % 2 == 0:
        print("Fizz")
    elif number % 5 == 0:
        print("Buzz")
    else:
        print(number)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz
11
Fizz
13
Fizz
Buzz

In [ ]:
numbers_list = [3, 5, 3, 6, 3, 7, 8, 3]
most_frequent = max(set(numbers_list), key=numbers_list.count)
print(most_frequent)

3

In [ ]:
square_list = [4, 2, 5, 3]
sum_of_squares = sum(x**2 for x in square_list)
print(sum_of_squares)

54

In [ ]:
for num in range(1, 20):
    print(f"{num}-{'even' if num % 2 == 0 else 'odd'}")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd
16-even
17-odd
18-even
19-odd

In [ ]:
fahrenheit_temp = 68
celsius_temp = (fahrenheit_temp - 32) * 5 / 9
print(celsius_temp)

20.0

In [ ]:
def factorial_of_number(positive_integer):
    result = 1
    for i in range(2, positive_integer + 1):
        result *= i
    return result
print(factorial_of_number(5))

120